header {
  background-color: #00838f;
  max-height: 80px;
  padding: 19px 32px;
  .wrapper {
    .header__input {
      background-color: #f2f2f2;
      border-radius: 4px;
      max-width: 912px;
      margin-right: 8px;
    }
  }
}
